body {
  background-color: #1a96d9;
}

.container {
  /* font-family: Lato; */
  color: white;
  width: 1300px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  margin-top: 50px;
  font-size: 20px;
}

.row-one-third {
  flex-direction: column;
  display: flex;
  padding: 50px;
  align-items: center;
  text-align: center;
}

.col-image {
  width: 100px;
  height: 100px;
  border: 90px solid white;
  border-radius: 500px;
  z-index: 1;
}

img {
  position: relative;
  width: 100px;
  z-index: 2;
  right: 50px;
  bottom: 48px;
}

p {
  width: 250px;
  line-height: 25px;
  color: rgb(220, 220, 221);
}
