.container {
  max-width: 800px;
  margin: 0 auto;
  flex-direction: column;
  font-family: sans-serif;
}

.row {
  display: flex;
  justify-content: center;
}

.column-one-third {
  display: flex;
  max-width: calc(100% / 3);
  flex-direction: column;
}

.column-two-thirds {
  display: flex;
  flex-direction: column;
  max-width: calc(2 * (100% / 3));
}

.column-one-fourth {
  display: flex;
  max-width: calc(100% / 4);
}

img {
  width: 100%;
}
